@using MinimalRazor.Models
@inherits RazorBlade.HtmlLayout
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Minimal Razor</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
</head>
<body class="hold-transition layout-top-nav">
	<div class="wrapper">
		<nav class="main-header navbar navbar-expand-md navbar-light bg-light">
			<div class="container">
				<a href="/" class="navbar-brand">
					<img src="/img/petronas_logo.svg" alt="Logo" class="brand-image" style="height:33px;">
					<span class="brand-text">RPAI</span>
				</a>
				<div class="collapse navbar-collapse" id="menu">
					<ul class="navbar-nav ml-auto">
						@if (User.IsLogged())
						{
							@if (User.IsAdmin())
							{
								<li class="nav-item"><a class="nav-link" href="~/users">Users</a></li>
								<li class="nav-item"><a class="nav-link" href="~/nodes">Pages</a></li>
							}
							<li class="nav-item"><a class="nav-link" href="/users/edit/@User.GetId()">@User.GetName()</a></li>
							<li class="nav-item"><a class="nav-link" href="/users/logout">Sign Out</a></li>
						} else {
							<li class="nav-item"><a class="nav-link" href="/users/auth">Sign In</a></li>
						}
					</ul>
				</div>
			</div>
		</nav>
		<section class="content-wrapper">
			<header class="content-header mb2">
				<div class="container">
					<h1 class="m-0 text-dark">@(User.GetName())</h1>
				</div>
			</header>

			<main role="main" class="content">
				@RenderBody()
			</main>
		</section>
		<footer class="main-footer">
			<div class="container">
				<a href="//horizon3.my">TechApps Team.</a>
				&copy; 2023 - @(DateTime.Now.Year == 2023 ? "" : DateTime.Now.Year)
				<a href="~/nodes/details/1">Term and Conditions</a>
			</div>
		</footer>
	</div>
</body>
</html>

@functions {
    public System.Security.Claims.ClaimsPrincipal? User { get; set; }
}