@inherits RazorBlade.HtmlLayout
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RPAI</title>
    <link rel="icon" href="/img/petronas_logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;800&display=swap" rel="stylesheet">
</head>
<body class="hold-transition layout-top-nav" style="background-image: url('/img/background.png'); align-items: flex-start; height: 100%;">
    @RenderBody()
</body>
</html>